In [15]:
import pandas as pd
import netCDF4 as nc

In [16]:
# NetCDF 파일 열기
file_path = "data/wind_velocity.nc"
dataset = nc.Dataset(file_path, "r")

In [17]:
# 파일 내의 변수 이름 확인
variables = dataset.variables.keys()
print(variables)

dict_keys(['longitude', 'latitude', 'time', 'u10', 'v10'])

In [18]:
time = pd.DataFrame(dataset["time"][:])
for i in range(len(time)):
    time.iloc[i] = 0.25 * i
time

C:\Users\lg\AppData\Local\Temp\ipykernel_1856\734638377.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.25' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  time.iloc[i] = 0.25 * i

           0
0       0.00
1       0.25
2       0.50
3       0.75
4       1.00
...      ...
2915  728.75
2916  729.00
2917  729.25
2918  729.50
2919  729.75

[2920 rows x 1 columns]

00시 06시 12시 18시<br>2005년1월1일~2006년12월31일

In [19]:
lon = pd.DataFrame(dataset["longitude"][:])
lon

             0
0   123.870003
1   124.120003
2   124.370003
3   124.620003
4   124.870003
..         ...
87  145.619995
88  145.869995
89  146.119995
90  146.369995
91  146.619995

[92 rows x 1 columns]

In [20]:
lat = pd.DataFrame(dataset["latitude"][:])
lat

            0
0   53.419998
1   53.169998
2   52.919998
3   52.669998
4   52.419998
..        ...
89  31.170000
90  30.920000
91  30.670000
92  30.420000
93  30.170000

[94 rows x 1 columns]

In [21]:
u10_0 = pd.DataFrame(dataset["u10"][0][:])
u10_0

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,2.402039,1.691783,1.524293,1.954870,1.906677,1.768418,1.656231,1.599347,1.294388,0.903312,...,7.049121,7.176319,7.306678,7.379362,7.382523,7.329589,7.342230,7.501030,7.678792,7.896846
1,2.499216,2.351476,2.125522,2.224278,2.125522,2.057577,1.811871,1.552734,1.337840,1.176670,...,6.832647,7.179479,7.348550,7.452837,7.444147,7.453627,7.466268,7.480489,7.641659,7.822581
2,2.315134,2.020445,2.247189,2.630364,2.704629,2.619304,2.546619,2.306443,2.014914,1.756568,...,6.545858,6.934564,7.299567,7.425975,7.500240,7.532632,7.537373,7.510511,7.534212,7.691433
3,2.293012,2.182405,2.479464,2.876070,2.940854,2.886341,2.809706,2.768623,2.570320,2.402830,...,6.279611,6.728360,7.139187,7.423605,7.519201,7.494710,7.496290,7.510511,7.523942,7.531052
4,2.262200,2.174505,2.191886,2.533978,2.661966,2.659596,2.796275,2.812076,2.796275,2.635895,...,6.195866,6.661996,7.092574,7.394373,7.530262,7.474959,7.414915,7.449677,7.423605,7.393583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,6.893481,6.703869,6.550599,6.309633,5.987292,5.654680,5.335500,5.017109,4.742171,4.481454,...,11.306707,11.275105,11.361221,11.400723,11.352530,11.265625,11.053101,10.798704,10.667556,10.899831
90,7.255324,7.040430,6.741001,6.501615,6.236158,5.922508,5.672062,5.362362,5.106385,4.843298,...,10.878499,10.812925,10.816085,10.858748,10.938543,10.872179,10.686517,10.447131,10.485054,10.771843
91,7.739626,7.350131,7.008038,6.567190,6.299362,6.095529,5.874315,5.694183,5.445317,5.266765,...,10.203796,10.161133,10.178514,10.330994,10.425010,10.315193,10.128741,10.001543,10.099509,10.585390
92,8.177314,7.749896,7.185010,6.694388,6.252749,6.052866,5.971491,5.840343,5.781879,5.630979,...,9.447717,9.437446,9.619948,9.790599,9.769267,9.639699,9.483269,9.385303,9.774798,10.309663
93,8.581030,8.087248,7.476539,6.700708,6.204556,5.871155,5.816641,6.003883,6.010204,5.799260,...,8.813305,8.944454,9.143547,9.160138,9.116685,9.032940,8.898631,9.069282,9.536202,9.899626

In [22]:
v10_0 = pd.DataFrame(dataset["v10"][0][:])
v10_0

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,-0.358427,-0.733214,-0.872892,-0.847732,-0.957045,-0.819103,-1.212977,-1.097591,-0.944899,-0.640385,...,-2.714729,-3.070430,-3.398369,-3.657770,-3.847767,-3.938861,-3.997855,-4.077671,-4.157487,-4.317986
1,0.200284,0.008553,-0.099893,-0.283816,-0.605682,-1.066358,-1.576486,-1.957346,-1.955611,-1.838490,...,-2.451857,-2.861347,-3.216180,-3.515490,-3.713294,-3.856442,-3.914569,-3.964888,-4.021279,-4.049909
2,0.725160,0.549912,0.156039,-0.077336,-0.485091,-0.937959,-1.252017,-1.670182,-1.803787,-1.818536,...,-2.275742,-2.668748,-3.084311,-3.391428,-3.635214,-3.796580,-3.893748,-3.951007,-3.958815,-3.945801
3,0.935978,0.723425,0.205490,-0.072131,-0.511118,-0.899786,-1.133161,-1.363933,-1.391695,-1.509683,...,-2.162958,-2.641854,-3.082576,-3.492066,-3.745394,-3.898953,-3.996988,-4.056849,-4.066393,-4.025617
4,0.844884,0.744247,0.634934,0.460553,0.373797,-0.008798,-0.419156,-0.681160,-0.986542,-1.155717,...,-2.072732,-2.581124,-3.197962,-3.633479,-3.966623,-4.121049,-4.185249,-4.241640,-4.240773,-4.199997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,-11.523100,-11.946471,-12.109573,-12.136468,-12.039301,-11.766018,-11.522233,-11.244613,-11.035530,-10.774393,...,-1.437675,-1.435073,-1.354389,-1.437675,-1.501875,-1.492332,-1.454159,-1.527034,-1.669315,-2.097891
90,-11.622870,-12.087017,-12.522533,-12.565912,-12.336875,-12.017612,-11.572551,-11.228129,-10.864620,-10.607821,...,-1.892279,-1.932187,-2.113507,-2.234966,-2.266199,-2.240172,-2.329531,-2.432771,-2.803220,-3.290791
91,-11.563008,-12.273543,-12.757643,-12.959785,-12.729881,-12.340345,-11.877066,-11.354793,-10.888911,-10.449057,...,-2.414552,-2.614091,-2.832717,-2.922076,-2.936825,-3.075635,-3.196227,-3.577087,-4.016942,-4.548758
92,-11.533511,-12.297835,-12.921613,-13.161060,-13.108139,-12.695179,-12.139938,-11.620267,-11.222923,-10.744896,...,-2.922076,-3.125954,-3.218783,-3.301202,-3.468641,-3.634346,-4.074201,-4.553096,-5.084045,-5.595039
93,-11.493603,-12.292629,-12.937229,-13.312016,-13.328500,-13.046542,-12.466142,-12.054917,-11.717435,-11.477120,...,-3.209240,-3.306407,-3.374945,-3.525033,-3.716765,-4.187852,-4.743960,-5.330433,-5.813665,-6.297766

In [23]:
t = [i for i in range(int(0 * 100), int((729.75 + 0.25) * 100), int(0.25 * 100)) for _ in range(8648)]
t = [x / 100 for x in t]

lati = []
for i in range(len(lat)):
    cnt = [lat.iloc[i][0]] * 92
    lati += cnt
lati *= 2920

long = []
for i in range(len(lon)):
    long.append(lon.iloc[i][0])
long *= 94
long *= 2920

u_lst = []
for i in range(2920):
    x = pd.DataFrame(dataset["u10"][i][:])
    new_x = x.values.flatten().tolist()
    u_lst.append(new_x)

v_lst = []
for i in range(2920):
    x = pd.DataFrame(dataset["v10"][i][:])
    new_x = x.values.flatten().tolist()
    v_lst.append(new_x)

def flatten(lst):
    flattened_lst = []
    for sublist in lst:
        for item in sublist:
            flattened_lst.append(item)
    return flattened_lst

u_lst = flatten(u_lst)
v_lst = flatten(v_lst)

In [24]:
print(len(t))
print(len(lati))
print(len(long))
print(len(u_lst))
print(len(v_lst))

25252160
25252160
25252160
25252160
25252160

In [25]:
data = {
    "time" : t,
    "longitude" : long,
    "latitude" : lati,
    "u" : u_lst,
    "v" : v_lst
}
columns = ["time","longitude","latitude","u","v"]
total = pd.DataFrame(data, columns = columns)
total

            time   longitude   latitude         u         v
0           0.00  123.870003  53.419998  2.402039 -0.358427
1           0.00  124.120003  53.419998  1.691783 -0.733214
2           0.00  124.370003  53.419998  1.524293 -0.872892
3           0.00  124.620003  53.419998  1.954870 -0.847732
4           0.00  124.870003  53.419998  1.906677 -0.957045
...          ...         ...        ...       ...       ...
25252155  729.75  145.619995  30.170000 -2.655869 -6.472146
25252156  729.75  145.869995  30.170000 -2.273484 -6.987479
25252157  729.75  146.119995  30.170000 -1.800243 -7.395234
25252158  729.75  146.369995  30.170000 -1.362555 -7.745729
25252159  729.75  146.619995  30.170000 -0.928027 -8.028555

[25252160 rows x 5 columns]

In [26]:
total.describe()

               time     longitude      latitude             u             v
count  2.525216e+07  2.525216e+07  2.525216e+07  2.525216e+07  2.525216e+07
mean   3.648750e+02  1.352471e+02  4.179498e+01  1.116360e+00 -4.371712e-01
std    2.107328e+02  6.639134e+00  6.783482e+00  4.192018e+00  4.316797e+00
min    0.000000e+00  1.238700e+02  3.017000e+01 -2.653438e+01 -2.753485e+01
25%    1.824375e+02  1.295575e+02  3.592000e+01 -1.237727e+00 -2.694775e+00
50%    3.648750e+02  1.352450e+02  4.179500e+01  9.515053e-01 -1.927219e-01
75%    5.473125e+02  1.409325e+02  4.767000e+01  3.276626e+00  2.040386e+00
max    7.297500e+02  1.466200e+02  5.342000e+01  2.524005e+01  2.931918e+01

In [27]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25252160 entries, 0 to 25252159
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   time       float64
 1   longitude  float32
 2   latitude   float32
 3   u          float64
 4   v          float64
dtypes: float32(2), float64(3)
memory usage: 770.6 MB

In [28]:
total.to_csv("data/wind_velocity.csv", index = False)