In [1]:
import pandas as pd
import netCDF4 as nc

In [2]:
# NetCDF 파일 열기
file_path = "data/water_velocity2016.nc"
dataset = nc.Dataset(file_path, "r")

In [3]:
# 파일 내의 변수 이름 확인
variables = dataset.variables.keys()
print(variables)

dict_keys(['vo', 'time', 'depth', 'latitude', 'longitude', 'uo'])

In [4]:
time = pd.DataFrame(dataset["time"][:])
for i in range(len(time)):
    time.iloc[i] = 0.125 * i
time

            0
0       0.000
1       0.125
2       0.250
3       0.375
4       0.500
...       ...
5844  730.500
5845  730.625
5846  730.750
5847  730.875
5848  731.000

[5849 rows x 1 columns]

2016년 윤년이라 2월달에 29일까지 있음...

In [5]:
vo = pd.DataFrame(dataset["vo"][0][0][:])
vo

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,-0.095239,-0.076038,-0.017690,-0.028880,0.030922,0.101524,0.118720,0.051341,0.047418,0.066732,...,-0.500614,-0.600077,-0.627322,-0.599892,-0.555579,-0.476413,-0.294163,-0.082271,0.013837,0.020599
1,-0.124209,-0.107231,-0.064306,-0.012232,0.059209,0.110197,0.082857,0.048151,0.084356,0.048088,...,-0.436798,-0.538856,-0.628630,-0.656028,-0.617877,-0.503777,-0.288352,-0.059379,0.034654,0.002982
2,-0.145960,-0.118564,-0.048793,0.011030,0.069697,0.101307,0.056852,0.077399,0.102302,0.056533,...,-0.353997,-0.482678,-0.625445,-0.676729,-0.604953,-0.458742,-0.271449,-0.097709,-0.014724,-0.050917
3,-0.147824,-0.092907,-0.023481,0.021125,0.063445,0.090499,0.048795,0.049157,0.052010,0.039990,...,-0.273666,-0.432971,-0.610123,-0.653562,-0.537747,-0.380355,-0.259656,-0.158372,-0.086784,-0.110599
4,-0.121599,-0.049651,-0.000403,0.011235,0.042802,0.055573,0.022864,0.014444,0.033837,0.050729,...,-0.254152,-0.377712,-0.505091,-0.509935,-0.415770,-0.333334,-0.278643,-0.211319,-0.151206,-0.161487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.314576,-0.325655,-0.282338,-0.225238,-0.187746,-0.176207,-0.175014,-0.191725,-0.190478,-0.150275
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.341169,-0.348705,-0.311955,-0.266203,-0.234150,-0.218805,-0.196709,-0.185876,-0.163829,-0.111942
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.401501,-0.403148,-0.352879,-0.297487,-0.259623,-0.226804,-0.185144,-0.141587,-0.093832,-0.042402
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.447052,-0.443579,-0.367245,-0.278034,-0.220479,-0.173132,-0.126544,-0.077550,-0.026842,0.009233
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.445405,-0.435522,-0.330492,-0.213649,-0.129284,-0.083392,-0.052016,-0.019133,0.006893,0.017611

In [6]:
uo = pd.DataFrame(dataset["uo"][0][0][:])
uo

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,-0.015589,-0.009355,0.008931,0.028254,0.008088,-0.013334,-0.022796,-0.013890,-0.018141,-0.014904,...,0.098703,0.059850,0.047013,0.090193,0.157370,0.209722,0.218630,0.183473,0.123472,0.083069
1,-0.003776,0.016503,0.072202,0.005703,-0.021238,-0.038095,-0.023105,-0.017855,-0.055580,-0.081109,...,0.103970,0.027342,-0.009269,0.003175,0.031318,0.036312,0.019311,0.009310,0.008960,0.017559
2,0.003486,0.007383,-0.014134,-0.042197,-0.044648,-0.038507,-0.032329,-0.033319,-0.024807,-0.008830,...,0.042610,-0.021187,-0.046546,-0.041661,-0.054436,-0.116331,-0.172503,-0.164019,-0.117104,-0.079211
3,0.003975,-0.026497,-0.061385,-0.074616,-0.065221,-0.051667,-0.046891,-0.021275,0.030111,0.064630,...,0.000445,-0.039952,-0.073741,-0.118796,-0.190122,-0.257785,-0.280073,-0.245882,-0.187881,-0.142810
4,0.000333,-0.041055,-0.080888,-0.085268,-0.065714,-0.028852,0.006725,0.024640,0.025033,0.001735,...,0.074323,0.081486,0.010432,-0.137717,-0.269210,-0.311460,-0.285262,-0.231927,-0.164093,-0.104899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.064211,0.071858,0.085061,0.102236,0.121480,0.143150,0.154768,0.152085,0.143330,0.127042
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.065545,0.093614,0.122692,0.149613,0.175515,0.193188,0.196289,0.186833,0.164208,0.129076
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.096344,0.135831,0.171778,0.186712,0.186701,0.175277,0.156768,0.130822,0.101454,0.069518
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.140214,0.163318,0.176311,0.164884,0.134979,0.093049,0.059669,0.029517,0.001599,-0.015958
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.157017,0.157362,0.138262,0.103736,0.058290,0.011946,-0.026503,-0.055139,-0.072059,-0.081267

In [7]:
lat = pd.DataFrame(dataset["latitude"][:])
lat

         0
0   30.125
1   30.375
2   30.625
3   30.875
4   31.125
..     ...
90  52.625
91  52.875
92  53.125
93  53.375
94  53.625

[95 rows x 1 columns]

In [8]:
lon = pd.DataFrame(dataset["longitude"][:])
lon

          0
0   123.875
1   124.125
2   124.375
3   124.625
4   124.875
..      ...
87  145.625
88  145.875
89  146.125
90  146.375
91  146.625

[92 rows x 1 columns]

In [13]:
t = [i for i in range(int(0 * 100), int((730.75 + 0.25) * 100), int(0.25 * 100)) for _ in range(8740)]
t = [x / 100 for x in t]

lati = []
for i in range(len(lat)):
    cnt = [lat.iloc[i][0]] * 92
    lati += cnt
lati *= 2924

long = []
for i in range(len(lon)):
    long.append(lon.iloc[i][0])
long *= 95
long *= 2924

u_lst = []
for i in range(2924):
    x = pd.DataFrame(dataset["uo"][i * 2][0][:])
    new_x = x.values.flatten().tolist()
    u_lst.append(new_x)

v_lst = []
for i in range(2924):
    x = pd.DataFrame(dataset["vo"][i * 2][0][:])
    new_x = x.values.flatten().tolist()
    v_lst.append(new_x)
    
def flatten(lst):
    flattened_lst = []
    for sublist in lst:
        for item in sublist:
            flattened_lst.append(item)
    return flattened_lst

u_lst = flatten(u_lst)
v_lst = flatten(v_lst)

In [14]:
print(len(t))
print(len(lati))
print(len(long))
print(len(u_lst))
print(len(v_lst))

25555760
25555760
25555760
25555760
25555760

In [15]:
2924 * 95 * 92

25555760

In [16]:
data = {
    "time" : t,
    "longitude" : long,
    "latitude" : lati,
    "u" : u_lst,
    "v" : v_lst
}
columns = ["time","longitude","latitude","u","v"]
total = pd.DataFrame(data, columns = columns)
total

            time  longitude  latitude         u         v
0           0.00    123.875    30.125 -0.015589 -0.095239
1           0.00    124.125    30.125 -0.009355 -0.076038
2           0.00    124.375    30.125  0.008931 -0.017690
3           0.00    124.625    30.125  0.028254 -0.028880
4           0.00    124.875    30.125  0.008088  0.030922
...          ...        ...       ...       ...       ...
25555755  730.75    145.625    53.625 -0.017071 -0.066713
25555756  730.75    145.875    53.625 -0.038780 -0.063514
25555757  730.75    146.125    53.625 -0.059290 -0.043422
25555758  730.75    146.375    53.625 -0.065427 -0.020789
25555759  730.75    146.625    53.625 -0.060936 -0.000558

[25555760 rows x 5 columns]

In [17]:
total.describe()

               time     longitude      latitude             u             v
count  2.555576e+07  2.555576e+07  2.555576e+07  1.345192e+07  1.345192e+07
mean   3.653750e+02  1.352500e+02  4.187503e+01  7.265357e-02 -8.010580e-04
std    2.110215e+02  2.249591e+01  6.714082e+00  2.577855e-01  2.406419e-01
min    0.000000e+00  1.238750e+02  3.012500e+01 -1.702821e+00 -2.193665e+00
25%    1.826875e+02  1.295625e+02  3.587500e+01 -5.241206e-02 -1.195729e-01
50%    3.653750e+02  1.352500e+02  4.187500e+01  3.831982e-02 -4.871941e-03
75%    5.480625e+02  1.409375e+02  4.787500e+01  1.481982e-01  1.056626e-01
max    7.307500e+02  1.466250e+02  5.362500e+01  2.303629e+00  2.096443e+00

In [18]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25555760 entries, 0 to 25555759
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   time       float64
 1   longitude  float32
 2   latitude   float32
 3   u          float64
 4   v          float64
dtypes: float32(2), float64(3)
memory usage: 779.9 MB

In [19]:
total.to_csv("data/water_velocity2016.csv", index = False)