In [1]:
import pandas as pd
import netCDF4 as nc

In [4]:
# NetCDF 파일 열기
file_path = "data/wind_velocity2016.nc"
dataset = nc.Dataset(file_path, "r")

In [5]:
# 파일 내의 변수 이름 확인
variables = dataset.variables.keys()
print(variables)

dict_keys(['longitude', 'latitude', 'time', 'u10', 'v10'])

In [6]:
time = pd.DataFrame(dataset["time"][:])
for i in range(len(time)):
    time.iloc[i] = 0.25 * i
time

           0
0       0.00
1       0.25
2       0.50
3       0.75
4       1.00
...      ...
2919  729.75
2920  730.00
2921  730.25
2922  730.50
2923  730.75

[2924 rows x 1 columns]

2016년 윤년이라 2월달에 29일까지 있음...

In [7]:
lon = pd.DataFrame(dataset["longitude"][:])
lon

             0
0   123.870003
1   124.120003
2   124.370003
3   124.620003
4   124.870003
..         ...
87  145.619995
88  145.869995
89  146.119995
90  146.369995
91  146.619995

[92 rows x 1 columns]

In [8]:
lat = pd.DataFrame(dataset["latitude"][:])
lat

            0
0   53.419998
1   53.169998
2   52.919998
3   52.669998
4   52.419998
..        ...
89  31.170000
90  30.920000
91  30.670000
92  30.420000
93  30.170000

[94 rows x 1 columns]

In [9]:
u10_0 = pd.DataFrame(dataset["u10"][0][:])
u10_0

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,0.971710,0.744317,0.549026,0.401890,0.019335,-0.375705,-0.730616,-0.904505,-1.056100,-1.086419,...,10.706803,11.028720,11.380956,11.270380,11.019802,8.989317,7.468014,5.119179,2.919263,1.447005
1,1.357832,1.199103,0.982411,0.781770,0.359086,-0.066272,-0.452394,-0.817115,-0.999921,-1.213046,...,10.227940,10.446415,10.816486,11.150888,11.340828,11.455862,10.362592,9.277348,7.004311,5.153956
2,1.447005,1.310570,1.160758,1.003812,0.751451,0.351952,-0.043087,-0.455070,-0.763611,-1.036482,...,9.756211,9.964877,10.268068,10.565908,10.855723,11.170506,11.238278,10.603361,9.991630,8.429306
3,1.431846,1.335538,1.178593,0.986869,0.750559,0.483038,0.112967,-0.201816,-0.494306,-0.848326,...,9.321043,9.487798,9.780288,10.055835,10.352783,10.614062,10.805785,10.789734,10.378643,10.185137
4,1.407769,1.308786,1.231205,1.059992,0.868268,0.606097,0.390297,0.102266,-0.183982,-0.536218,...,9.166773,9.320152,9.463721,9.731242,9.972903,10.208322,10.253800,10.260934,10.264501,10.235966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,-1.851530,-1.704393,-1.568849,-1.439547,-1.230881,-1.081961,-0.897371,-0.722591,-0.590614,-0.535326,...,12.491168,12.517921,12.553590,12.464416,12.439448,12.409129,12.340465,12.507220,12.770282,13.172456
90,-2.213575,-2.072681,-1.955863,-1.838154,-1.720444,-1.592926,-1.472542,-1.307570,-1.181835,-1.114955,...,12.286069,12.270909,12.159442,12.020331,11.998930,11.989120,12.149633,12.419829,12.875507,13.236661
91,-2.600589,-2.498039,-2.383005,-2.258162,-2.145803,-2.075356,-1.970131,-1.925544,-1.822994,-1.757006,...,11.793830,11.735867,11.631534,11.651152,11.658286,11.792938,11.986445,12.298553,12.769390,12.886208
92,-2.976010,-2.883269,-2.812822,-2.687979,-2.614857,-2.551543,-2.506065,-2.494472,-2.483771,-2.415999,...,11.209742,11.161589,11.195475,11.258788,11.361338,11.523634,11.676121,11.958801,12.088995,12.145174
93,-3.248882,-3.248882,-3.208753,-3.183785,-3.116013,-3.084802,-3.043782,-3.058050,-3.055375,-3.083910,...,10.584635,10.712153,10.779033,10.829862,10.919036,10.929737,11.041204,11.061714,11.121460,11.058147

In [10]:
v10_0 = pd.DataFrame(dataset["v10"][0][:])
v10_0

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,-0.804258,-0.908734,-1.036213,-0.998832,-1.072636,-1.006500,-1.019919,-0.930779,-0.965285,-0.902024,...,-4.740786,-4.651646,-4.609473,-4.837594,-5.010123,-4.643978,-4.377518,-3.415191,-2.579386,-1.830803
1,-0.425653,-0.398816,-0.563676,-0.810009,-0.971994,-1.095640,-1.156983,-1.234621,-1.305549,-1.278712,...,-4.880726,-4.882643,-4.791586,-4.813632,-5.007247,-5.236327,-5.193195,-5.009164,-4.252914,-3.573342
2,-0.599141,-0.510001,-0.679654,-0.947073,-1.153149,-1.287338,-1.356350,-1.449323,-1.441655,-1.415776,...,-4.731201,-4.776250,-4.794462,-4.797337,-4.866349,-5.076258,-5.191278,-5.170191,-5.020666,-4.502122
3,-0.893398,-0.918319,-1.116726,-1.345806,-1.557633,-1.716743,-1.760833,-1.756041,-1.710992,-1.574886,...,-4.464740,-4.469533,-4.473367,-4.461865,-4.534710,-4.609473,-4.716824,-4.711073,-4.588386,-4.169525
4,-1.118643,-1.134938,-1.275836,-1.479995,-1.723452,-1.897898,-1.954449,-1.941988,-1.880645,-1.746456,...,-4.205947,-4.207864,-4.217449,-4.193487,-4.181985,-4.222242,-4.075592,-4.039170,-3.765999,-3.298255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,-0.152483,-0.596265,-0.962409,-1.216410,-1.398523,-1.546131,-1.690863,-1.766584,-1.795339,-1.849973,...,-7.430316,-7.344051,-7.153311,-6.967364,-6.740201,-6.621348,-6.576299,-6.617514,-6.668314,-6.540835
90,-0.184113,-0.620227,-0.923111,-1.179987,-1.376478,-1.527920,-1.648690,-1.711950,-1.771377,-1.845181,...,-7.460988,-7.389101,-7.242451,-7.082383,-6.896436,-6.783333,-6.744035,-6.786209,-6.687484,-6.505371
91,-0.258876,-0.573261,-0.852183,-1.085096,-1.287338,-1.465618,-1.586388,-1.669777,-1.740705,-1.898856,...,-7.673773,-7.475365,-7.316255,-7.050753,-6.857137,-6.767998,-6.728699,-6.720073,-6.578216,-6.486201
92,-0.244498,-0.545465,-0.770711,-1.009375,-1.212576,-1.392772,-1.543256,-1.644856,-1.811633,-1.982245,...,-7.648852,-7.413063,-7.119764,-6.823590,-6.683650,-6.598344,-6.686526,-6.704737,-6.786209,-6.732533
93,-0.296257,-0.530129,-0.739080,-0.912568,-1.108100,-1.285421,-1.442614,-1.636229,-1.828886,-2.062758,...,-7.372806,-7.052670,-6.740201,-6.596427,-6.503454,-6.650103,-6.793877,-7.023915,-7.165772,-7.238617

In [12]:
t = [i for i in range(int(0 * 100), int((730.75 + 0.25) * 100), int(0.25 * 100)) for _ in range(8648)]
t = [x / 100 for x in t]

lati = []
for i in range(len(lat)):
    cnt = [lat.iloc[i][0]] * 92
    lati += cnt
lati *= 2924

long = []
for i in range(len(lon)):
    long.append(lon.iloc[i][0])
long *= 94
long *= 2924

u_lst = []
for i in range(2924):
    x = pd.DataFrame(dataset["u10"][i][:])
    new_x = x.values.flatten().tolist()
    u_lst.append(new_x)

v_lst = []
for i in range(2924):
    x = pd.DataFrame(dataset["v10"][i][:])
    new_x = x.values.flatten().tolist()
    v_lst.append(new_x)

def flatten(lst):
    flattened_lst = []
    for sublist in lst:
        for item in sublist:
            flattened_lst.append(item)
    return flattened_lst

u_lst = flatten(u_lst)
v_lst = flatten(v_lst)

In [13]:
print(len(t))
print(len(lati))
print(len(long))
print(len(u_lst))
print(len(v_lst))

25286752
25286752
25286752
25286752
25286752

In [15]:
data = {
    "time" : t,
    "longitude" : long,
    "latitude" : lati,
    "u" : u_lst,
    "v" : v_lst
}
columns = ["time","longitude","latitude","u","v"]
total = pd.DataFrame(data, columns = columns)
total

            time   longitude   latitude         u         v
0           0.00  123.870003  53.419998  0.971710 -0.804258
1           0.00  124.120003  53.419998  0.744317 -0.908734
2           0.00  124.370003  53.419998  0.549026 -1.036213
3           0.00  124.620003  53.419998  0.401890 -0.998832
4           0.00  124.870003  53.419998  0.019335 -1.072636
...          ...         ...        ...       ...       ...
25286747  730.75  145.619995  30.170000  1.097445  8.145185
25286748  730.75  145.869995  30.170000  0.249403  7.878725
25286749  730.75  146.119995  30.170000 -0.138503  7.554754
25286750  730.75  146.369995  30.170000  0.027360  7.066882
25286751  730.75  146.619995  30.170000  0.952091  6.492745

[25286752 rows x 5 columns]

In [16]:
total.describe()

               time     longitude      latitude             u             v
count  2.528675e+07  2.528675e+07  2.528675e+07  2.528675e+07  2.528675e+07
mean   3.653750e+02  1.352472e+02  4.179498e+01  1.171443e+00 -4.714212e-01
std    2.110215e+02  2.198249e+01  6.677918e+00  4.145533e+00  4.322577e+00
min    0.000000e+00  1.238700e+02  3.017000e+01 -2.664539e+01 -3.351569e+01
25%    1.826875e+02  1.295575e+02  3.592000e+01 -1.182727e+00 -2.716450e+00
50%    3.653750e+02  1.352450e+02  4.179500e+01  1.039482e+00 -2.742116e-01
75%    5.480625e+02  1.409325e+02  4.767000e+01  3.346405e+00  1.946615e+00
max    7.307500e+02  1.466200e+02  5.342000e+01  3.179282e+01  2.929720e+01

In [17]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25286752 entries, 0 to 25286751
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   time       float64
 1   longitude  float32
 2   latitude   float32
 3   u          float64
 4   v          float64
dtypes: float32(2), float64(3)
memory usage: 771.7 MB

In [18]:
total.to_csv("data/wind_velocity2016.csv", index = False)